.sprite {
    background-image: url(../images/icons/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-bars {
    width: 20px;
    height: 20px;
    background-position: -5px -5px;
}

.sprite-chevron-left {
    width: 21px;
    height: 40px;
    background-position: -35px -5px;
}

.sprite-chevron-right {
    width: 21px;
    height: 40px;
    background-position: -66px -5px;
}

.sprite-holiday-animals {
    width: 15px;
    height: 15px;
    background-position: -5px -55px;
}

.sprite-holiday-beach {
    width: 15px;
    height: 15px;
    background-position: -30px -55px;
}

.sprite-holiday-car {
    width: 15px;
    height: 15px;
    background-position: -55px -55px;
}

.sprite-holiday-mountain {
    width: 15px;
    height: 15px;
    background-position: -80px -55px;
}

.sprite-holiday-nature {
    width: 15px;
    height: 15px;
    background-position: -5px -80px;
}

.sprite-holiday-sun {
    width: 15px;
    height: 15px;
    background-position: -30px -80px;
}

.sprite-holiday-town {
    width: 15px;
    height: 15px;
    background-position: -55px -80px;
}

.sprite-holiday-travel {
    width: 15px;
    height: 15px;
    background-position: -80px -80px;
}

.sprite-holiday-tree {
    width: 15px;
    height: 15px;
    background-position: -97px -5px;
}

.sprite-quote-left {
    width: 18px;
    height: 15px;
    background-position: -97px -30px;
}

.sprite-quote-right {
    width: 18px;
    height: 15px;
    background-position: -105px -55px;
}

.sprite-star {
    width: 15px;
    height: 15px;
    background-position: -105px -80px;
}

.sprite-star-filled {
    width: 15px;
    height: 15px;
    background-position: -5px -105px;
}

